<a
	{...Astro.props}
	rel='noopener noreferrer'
	target='_blank'
	class='my-5 block text-xl font-medium w-full text-black dark:text-white border-black dark:border-white border-2 rounded-[10px] py-2 bg-transparent shadow-[8px_8px_0px_0px_#000] dark:shadow-[8px_8px_0px_0px_#fff] hover:bg-black/80 dark:hover:bg-white hover:text-white dark:hover:text-black transition'
>
	<slot />
</a>